body {
    font-family: "Roboto";
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 12px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    margin: 12px 160px;
}

.header-links {
    font-size: 18px;
    margin: 12px 120px;
}

.hero {
    background-color: #1f2937;
}